/*
miko-color (from imgs): #8B3A1E
background-grayblack: #272822
*/

body {
	background-color: #272822; /* sublime-text black */
	text-align: center;
	color: #8B3A1E;
}
h1 {
	font-size: 5em;
	color: gray;
}
h2 {
	padding-bottom: 20px;
}
a {
	color: gray;
}
footer {
	display: flex;
	justify-content: space-around;
}
span {
	color: #8B3A1E; /* miko-red */
}
.logo {
	width: 70px;
	height: 70px;
}
#static-feed,
#insta-feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#static-feed {
	padding-bottom: 50px;
}
.static-img {
	height: 100px;
	padding: 2px;
}
.insta-img {
	padding: 2px;
}
.caption {
	text-align: center;
}
/* temporary */
#under-construction {
	max-width: 650px;
	margin: auto;
}